body {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

 .container {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;

}

/* Dark Mode Styles */
.dark-mode {
  background-color: black;
  color: white;

} 
